/* здесь используйте глобальные селекторы img, body, html и так далее */

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $f-main;
  margin: 0;
  position: relative;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
}

.line-break-span {
  display: block;
}
