/* здесь используйте глобальные переменные */

/* шрифты */

$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;

/* цвета */

$f-main: #444444;
$f-secondary: #000000;
$f-minor: #222222;
$f-trifle: #111111;
$f-highlighted: #ffffff;
$f-average: #666666;

$bg-main: #68b738;
$bg-main-dim: #5eaa2f;

$bg-secondary: #f2f2f2;
$bg-secondary-dim: #ebebeb;
$bg-secondary-dull: #cdcdcd;
$bg-secondary-rare: #bababa;

$bg-extra: #d9d9d9;
$bg-extra-dim: #e6e6e6;
$bg-extra-dull: #eaeaea;
$bg-extra-rare: #d3d3d3;
$bg-extra-sparse: #d9d9d9;
$bg-extra-scarce: #e7e7e7;

$error: #ff8282;
$error-minor: #b63841;

/* дисплей */
$tablet-width: 768px;
$desktop-width: 1440px;

// Размеры вьюпортов
$breakpoint-max-w: 1600px;
$breakpoint-big-desktop: 1440px;
$breakpoint-desktop: 1310px;
$breakpoint-tablet: 768px;
$breakpoint-gap: 0.02px;

$mobile-only: "(max-width: #{$breakpoint-tablet - $breakpoint-gap})";
$tablet-only: "(min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - $breakpoint-gap})";
$desktop-only: "(min-width: #{$breakpoint-desktop})";
$desktop-big-only: "(min-width: #{$breakpoint-big-desktop})";
$not-mobile: "(min-width: #{$breakpoint-tablet})";
$not-desktop: "(max-width: #{$breakpoint-desktop - $breakpoint-gap})";

// Цвета
$basic-white: #ffffff;
$basic-grey: #f2f2f2;
$basic-grey-darkness: #ebebeb;
$basic-text-color: #444444;
$basic-text-color-2: #222222;
$basic-blank: #000000;
$accent-color: #68b738;
$accent-color-active: #5eaa2f;
$live-example-color: #eaeaea;
$text-grey: #111111;
$line-grey: #d9d9d9;
$line-light-grey: #e6e6e6;
$line-dark-grey: #cdcdcd;
$line-input: #e7e7e7;
$line-scale: #666666;
$invalid-color: #ff8282;
