.extra-products {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 79px;
  }

  @include desktop {
    margin-bottom: 98px;
  }
}

.extra-products__title {
  margin-bottom: 40px;

  @include tablet {
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 78px;
  }
}

.extra-products__wrapper {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 245px;
    grid-gap: 80px;
  }
}

.extra-products__list {
  @include list-resseting;
  margin-bottom: 35px;

  @include tablet {
    margin-bottom: 70px;
  }

  @include desktop {
    margin: 0;
  }
}

.extra-products__gift {
  font-size: 16px;
  line-height: 20px;
  color: $f-highlighted;
  text-align: center;
  padding: 186px 58px 43px;
  opacity: 0.85;
  background-color: #68b738;
  background-image:
    linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%),
    image-set(
      url("../../images/backgrounds/cat-backpack-mobile@1x.jpg") 1x,
      url("../../images/backgrounds/cat-backpack-mobile@2x.jpg") 2x
    );
  background-repeat: no-repeat;
  background-size: 100%, 280px 290px;

  @include tablet {
    text-align: start;
    background:
      linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%),
      image-set(
        url("../../images/backgrounds/cat-backpack-tablet@1x.jpg") 1x,
        url("../../images/backgrounds/cat-backpack-tablet@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    background-size: 100%, 707px 200px;
    min-height: 200px;
    padding: 70px 0 0;
  }

  @include desktop {
    text-align: start;
    background:
      linear-gradient(0deg, rgba(104, 183, 56, 0.85) 20%, rgba(104, 183, 56, 0.85) 80%),
      image-set(
        url("../../images/backgrounds/cat-backpack-desktop@1x.jpg") 1x,
        url("../../images/backgrounds/cat-backpack-desktop@2x.jpg") 2x
      );
    background-repeat: no-repeat;
    background-size: 100%, 245px 288px;
    min-height: 288px;
    padding: 186px 0 0;
  }
}

.extra-products__gift-description {
  margin: 0;

  @include tablet {
    margin-left: 423px;
  }

  @include desktop {
    margin: 0;
    text-align: center;
  }
}

.extra-products__gift-description::before {
  content: "";
  background-image: url("../../icons/stack.svg#gift");
  background-repeat: no-repeat;
  background-size: 78px 80px;
  width: 78px;
  height: 80px;
  display: block;
  position: absolute;
  bottom: 155px;
  left: 38%;

  @include tablet {
    bottom: 63px;
    left: 14%;
  }

  @include desktop {
    bottom: 37%;
    left: 81%;
  }
}
