.guide__list {
  @include list-resseting;

  @include tablet {
    display: grid;
    grid-template-columns: 247px 249px;
    gap: 37px 137px;
  }

  @include desktop {
    display: flex;
    // gap: 80px;
  }
}


.guide__item::before {
  content: "";
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;
  background-size: 60px 60px;
}

.guide__item--nutrients::before {
  background-image: url("../../icons/stack.svg#nutrients");
}

.guide__item--powder::before {
  background-image: url("../../icons/stack.svg#powder");
}

.guide__item--replacement::before {
  background-image: url("../../icons/stack.svg#replacement");
}

.guide__item--change::before {
  background-image: url("../../icons/stack.svg#change");
}
