.guide {
  margin-bottom: 49px;

  @include tablet {
    min-height: 736px;
    margin-bottom: 0;
  }
}

// .guide__title {
//   @include tablet {
//     margin-bottom: 74px;
//   }
// }

.guide__list {
  @include list-resseting;

  @include tablet {
    display: grid;
    grid-template-columns: 247px 249px;
    gap: 62px 137px;
  }

  @include desktop {
    display: flex;
    // gap: 80px;
  }
}

.guide__item {
  display: flex;
  margin-bottom: 20px;

  @include tablet {
    margin: 0;
    flex-direction: column;
    padding: 14px 0 57px;
  }
}

.guide__item::before {
  content: "";
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: block;
  background-size: 60px 60px;

  @include tablet {
    background-size: 80px 80px;
    width: 80px;
    height: 80px;
  }
}

.guide__item--nutrients::before {
  background-image: url("../../icons/stack.svg#nutrients");
}

.guide__item--powder::before {
  background-image: url("../../icons/stack.svg#powder");
}

.guide__item--replacement::before {
  background-image: url("../../icons/stack.svg#replacement");
}

.guide__item--change::before {
  background-image: url("../../icons/stack.svg#change");
}

.guide__description {
  margin: 0 0 0 20px;

  @include tablet {
    margin: 30px 0 0;
    font-size: 16px;
    line-height: 24px;
  }
}
