.list__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $f-minor;
  font-weight: 400;
  text-transform: uppercase;
}

.list__text {
  font-size: 14px;
  line-height: 14px;
}
