// .main-nav {

// }

.main-nav__toggle {
  position: relative;
  z-index: 101;
  width: 65px;
  height: 65px;
  padding: none;
  cursor: pointer;
  border: none;
  background-color: $f-highlighted;
  background-image: url("../../icons/stack.svg#menu-close");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;

  :hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle--close {
  background-image: url("../../icons/stack.svg#menu-burger");
}

.main-nav__list {
  @include list-resseting;
}

.main-nav__list a {
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  color: $f-secondary;
  text-transform: uppercase;
}

@include tablet {
  .main-nav__list {
    width: 436px;
  }

  .main-nav__toggle {
    display: none;
  }
}


@include desktop {
  .main-nav__list {
    width: 475px;
  }
}

// @include tablet {
//   .main-nav__wrapper {
//     display: flex;
//     justify-content: space-between;
//     width: 704px;
//     margin: 0 auto;
//   }
// }
