.main-header {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;

  @include tablet {
    justify-content: start;
  }
}

.main-header__logo {
  height: 65px;

  @include tablet {
    height: 50px;
  }

  @include desktop {
    height: 59px;
  }
}

.main-header__logo img {
  width: 33px;
  height: 65px;
}

// .main-header__logo-text {
//   text-align: center;
// }

.main-header__logo-text img {
  width: 101px;
  height: 65px;
}
