.programs {
  @include tablet {
    margin-bottom: 45px;
  }
}

.programs__list {
  @include list-resseting;

  @include desktop {
    display: flex;
    gap: 80px;
  }
}

.programs__item {
  background-color: $bg-secondary;
  padding: 21px 20px 18px;
  margin-bottom: 20px;
  background-repeat: no-repeat;

  @include tablet {
    padding: 77px 316px 58px 52px;
    margin-bottom: 30px;
  }
}

.programs__item--loss {
  background-image: url("../../icons/stack.svg#cat-slim");
  background-size: 50px 53px;
  // width: 50px;
  // height: 53px;
  background-position: 20px 21px;

  @include tablet {
    background-size: 200px 211px;
    background-position: right 12% top 50%;
  }
}

.programs__item--gain {
  background-image: url("../../icons/stack.svg#cat-pro");
  background-size: 67px 50px;
  // width: 67px;
  // height: 50px;
  background-position: 11px 25px;

  @include tablet {
    background-size: 268px 200px;
    background-position: right 7% top 56%;
  }
}

.programs__title {
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;
  color: $f-secondary;
  margin: 8px 8px 30px 16px;
  text-align: center;

  @include tablet {
    font-size: 36px;
    line-height: 36px;
    text-align: start;
    margin: 0 0 25px;
  }
}

.programs__title--gain {
  margin-left: 47px;

  @include tablet {
    margin: 0;
    margin-bottom: 25px;
  }
}

.programs__description {
  margin: 0 0 43px;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 57px;
  }
}

.programs__link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $f-secondary;

  @include tablet {
    font-size: 20px;
    line-height: 20px;
  }
}

.programs__link::after {
  content: "";
  background-color: $f-secondary;
  width: 24px;
  height: 12px;
  transition: all, all 1.3s;
  mask-image: url("../../icons/stack.svg#arrow");
  mask-position: 100%;
  mask-size: 24px 12px;
  mask-repeat: no-repeat;
}
