.promo {
  display: flex;
  flex-direction: column;
  min-height: 480px;
  margin-bottom: 16px;

  @include tablet {
    min-height: 870px;
    max-width: 768px;
    margin: 0 auto;
    padding: 40px 120px;
  }

  @include desktop {
    max-width: 1300px;
    min-height: 631px;
    padding-top: 59px;
  }
}

.promo__wrapper {
  background-color: #4f4f54;
  background-image: linear-gradient(0deg, rgb(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/backgrounds/cat-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 302px, 320px 302px;
  background-position: center top, center top;
  min-height: 302px;
  margin-bottom: 100px;
  padding-top: 21px;

  @include tablet {
    background: none;
    margin-bottom: -85px;
  }

  @include desktop {
    &::before {
      content: "";
      z-index: -1;
      background-color: #4f4f54;
      background-image: linear-gradient(0deg, rgb(104, 183, 56, 0.85) 0%, rgba(104, 183, 56, 0.85) 100%), url("../../images/backgrounds/cat-background@2x.jpg");
      background-repeat: no-repeat;
      background-size: cover, 1040px 100%;
      background-position: 100%, 0%;
      width: 50%;
      height: 694px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.promo__title {
  color: $f-highlighted;
  margin: 0;
  margin-bottom: 26px;

  @include tablet {
    color: $f-secondary;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $f-highlighted;
  text-align: center;

  @include tablet {
    color: $f-secondary;
    text-align: start;
    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  position: absolute;
  top: -240px;
  left: 50%;
  translate: -50%;

  @include tablet {
    z-index: -1;
    top: 5px;
  }

  @include desktop {
    top: -279px;
    left: 114px;
  }
}

.promo__link {
  display: inline-flex;
  justify-content: center;
  margin-top: 33px;

  @include tablet {
    padding: 14px;
    margin-left: -263px;
    min-width: 242px;
  }

  @include desktop {
    margin-left: -529px;
  }
}
