.promo {
  background-color: $bg-main;
  opacity: 0.85;

  @media (min-width: $tablet-width) {
    background-color: $f-highlighted;
  }
}

// .promo__wrapper {

// }

.promo__title {
  color: $f-highlighted;

  @media (min-width: $tablet-width) {
    color: $f-secondary;
  }
}

.promo__slogan {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $f-highlighted;

  @media (min-width: $tablet-width) {
    color: $f-secondary;
  }
}
