.toggle {
  width: 65px;
  height: 65px;
  border: none;
  cursor: pointer;
  background-color: $f-highlighted;
  background-image: url("../../icons/stack.svg#menu-close");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    display: none;
  }
}
